In [4]:
import pandas as pd

In [40]:
melb_data.to_csv('data/melb_data.csv', index=False, sep=';')

In [47]:
melb_data.head()

   index      Suburb  ... Propertycount         Coordinates
0      0  Abbotsford  ...          4019  -37.7996, 144.9984
1      1  Abbotsford  ...          4019  -37.8079, 144.9934
2      2  Abbotsford  ...          4019  -37.8093, 144.9944
3      3  Abbotsford  ...          4019  -37.7969, 144.9969
4      4  Abbotsford  ...          4019  -37.8072, 144.9941

[5 rows x 23 columns]

In [43]:
display(melb_data.tail())

       index         Suburb  ... Propertycount           Coordinates
13575  13575  Wheelers Hill  ...        7392.0  -37.90562, 145.16761
13576  13576   Williamstown  ...        6380.0  -37.85927, 144.87904
13577  13577   Williamstown  ...        6380.0  -37.85274, 144.88738
13578  13578   Williamstown  ...        6380.0  -37.85908, 144.89299
13579  13579     Yarraville  ...        6543.0  -37.81188, 144.88449

[5 rows x 23 columns]

In [44]:
display(melb_data.shape)

(13580, 23)

In [45]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [60]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [69]:
melb_data['Type'].value_counts(normalize=False)

h    9449
u    3017
t    1114
Name: Type, dtype: int64

In [49]:
melb_data.describe(include=['object'])

           Suburb           Address  ...             Regionname         Coordinates
count       13580             13580  ...                  13580               13580
unique        314             13378  ...                      8               13097
top     Reservoir  36 Aberfeldie St  ...  Southern Metropolitan  -37.8361, 144.9966
freq          359                 3  ...                   4695                  12

[4 rows x 9 columns]

In [85]:
melb_data['Bedroom'].value_counts()

SyntaxError: invalid syntax (2907039854.py, line 1)

In [52]:
melb_data['Regionname'].value_counts(normalize=True)

Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: Regionname, dtype: float64

In [53]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
print(data.shape)

(3, 2)

In [57]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [71]:
print(melb_data['Price'].mean())
print(melb_data['Car'].max())

1075684.079455081
10

In [72]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

In [73]:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

In [74]:
print(melb_data['Rooms'].mode())

0    3
Name: Rooms, dtype: int64

In [75]:
melb_data['Regionname'].mode()

0    Southern Metropolitan
Name: Regionname, dtype: object

In [77]:
print(melb_data['Propertycount'].max())

21650

In [78]:
melb_data['Distance'].std()

5.868724943071711

In [83]:
BuildingArea_median = melb_data['BuildingArea'].median() 
BuildingArea_mean =  melb_data['BuildingArea'].mean()
std_mean = BuildingArea_median / BuildingArea_mean
print(std_mean.std())

0.0